node_modules/
npm-debug.log*
.npm
package-lock.json

# Environment vars
.env
.env.*
!.env.example

# Build output
.next/
out/
build/
dist/

.vscode/

# Temporary folders
tmp/
temp/

# Prisma
prisma/migrations/dev.db*
